<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/grumble.min.css">
</head>
<body>

{{{body}}}
<script src="javascripts/lib/react.js"></script>
<script src="javascripts/lib/JSXTransformer.js"></script>
<script src="javascripts/lib/jquery-2.1.0.min.js"></script>
<script src="javascripts/lib/Bubble.js"></script>
<script src="javascripts/lib/jquery.grumble.min.js"></script>
<script src="javascripts/lib/app.js"></script>
</body>
</html>