<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>

{{{body}}}
<script src="javascripts/lib/react.js"></script>
<script src="javascripts/lib/JSXTransformer.js"></script>
<script src="javsscripts/lib/main.js"></script>
</body>
</html>