
.searchBar {
  padding-top: 20px;
}

.whatFont {
    font-size: 30px;
    padding-bottom: 0;
    color: #f60;
    text-transform: lowercase;
    font-weight: bold;
}

.what {
	  height: 30px;
		font-size: 18px;
		margin:3px;
		padding: 3px 6px;
	    width: 99%;
}

.where {
	margin:3px;
	height: 30px;
	font-size: 18px;
	padding: 3px 6px;
	width: 60%;
}
